.profileScreen {
	height: 120vh;
	color: white;
}
.profileScreen_body {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto 0 auto;
	padding-top: 8%;
	max-width: 1000px;
}
.profileScreen_info {
	display: flex;
	margin-top: 3rem;
}
.profileScreen_body > h1 {
	border-bottom: 2px solid #282c2d;
	font-family: "Roboto", sans-serif;
	font-size: 60px;
	font-weight: 400;
	margin-bottom: 20px;
	letter-spacing: 2px;
}
.profileScreen_info > img {
	height: 100px;
	border-radius: 25px;
}
.profileScreen_details {
	color: white;
	margin-left: 25px;
	flex: 1;
	display: flex;
	flex-direction: row;
	gap: 1%;
}
.Motivator {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	text-align: center;
	margin: 4rem 0 1rem 3rem;
}
.profileScreen_details > h2 {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1px;
	word-spacing: 1rem;
	padding: 15px;
	font-size: 30px;
	padding-left: 40px;
}
.profileScreen_signOut {
	border: none;
	background-color: #e50914;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	font-family: "Roboto Slab", serif;
	font-weight: 600;
	font-size: 1.2rem;
	letter-spacing: 2px;
	margin-left: 10rem;
	height: 60%;
	padding: 10px 20px;
	width: 17%;
	transition: transform 400ms;
}
.profileScreen_signOut:hover {
	transform: scale(1.09);
	opacity: 1;
}
.profileScreen_plans {
	margin-top: 20px;
}
.profileScreen_plans > h5 {
	border-bottom: 2px solid #282c2d;
	padding-bottom: 10px;
}

.profileScreen_plans > p {
	border-bottom: 1px solid #282c2d;
	padding-bottom: 10px;
}
.Netflix_plans {
	display: flex;
	flex-direction: row;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.5px;
	gap: 5%;
	width: 120%;
	margin-left: -7rem;
}
.profileScreen_plan {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	opacity: 1;
	border: 1px solid red;
	border-radius: 10px;
	margin-top: 4rem;
	text-align: center;
	width: 120%;
	background-color: #fff;
	color: #282c2d;
	transition: transform 400ms;
}
.profileScreen_plan:hover {
	transform: scale(1.09);
	opacity: 1;
}
.profileScreen_planInfo > h5 {
	font-size: 2rem;
	color: #000;
	margin-bottom: 15px;
}
.profileScreen_planInfo > p {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 30px;
}
.profileScreen_planInfo > h4 {
	font-size: 1.3rem;
	margin: 30px 0 30px 0;
}
.profileScreen_plan:hover {
	opacity: 1;
}

.profileScreen_plan > button {
	font-family: "Roboto Slab", serif;
	letter-spacing: 2px;
	padding: 10px 20px;
	font-size: 1rem;
	color: white;
	background-color: #e50914;
	cursor: pointer;
	font-weight: 600;
	display: block;
	border: none;
	max-height: 50px;
	border-radius: 7px;
}

@media (min-width: 100px) and (max-width: 580px) {
	.profileScreen_body {
		width: 90%;
	}
	.profileScreen_body > h1 {
		margin-left: 0.5rem;
		margin-top: 6rem;
		font-size: 2.2rem;
	}
	.profileScreen_info {
		display: flex;
		margin-top: 3rem;
	}
	.profileScreen_info > img {
		width: 30%;
		margin-left: 0.5rem;
	}
	.profileScreen_details {
		display: flex;
		flex-direction: column;
		width: 60%;
		gap: 5%;
	}
	.profileScreen_details > h2 {
		width: 10%;
		font-size: 1.3rem;
		position: absolute;
	}
	.profileScreen_signOut {
		position: relative;
		right: 14rem;
		top: 8rem;
		width: 100%;
		height: 60%;
	}
	.Motivator {
		position: relative;
		top: 4rem;
		right: 2rem;
		font-size: 1rem;
	}
	.Netflix_plans {
		display: flex;
		flex-direction: column;
		margin: 2rem 0 0 1rem;
		width: 60%;
	}
	.profileScreen_plan {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.profileScreen {
		height: 100%;
	}
}

@media (min-width: 581px) and (max-width: 768px) {
	.profileScreen_body {
		width: 90%;
	}
	.profileScreen_body > h1 {
		margin: 6rem 0 0 0.5rem;

		font-size: 2.2rem;
	}
	.profileScreen_info {
		display: flex;
		margin-top: 3rem;
	}
	.profileScreen_info > img {
		width: 30%;
		margin-left: 0.5rem;
	}
	.profileScreen_details {
		display: flex;
		flex-direction: column;
		width: 60%;
		gap: 5%;
	}
	.profileScreen_details > h2 {
		width: 10%;
		font-size: 1.3rem;
		position: absolute;
	}
	.profileScreen_signOut {
		position: relative;
		right: 14rem;
		top: 8rem;
		width: 100%;
		height: 60%;
	}
	.Motivator {
		position: relative;
		top: 4rem;
		right: 2rem;
		font-size: 1rem;
	}

	.profileScreen {
		height: 100%;
	}
	.Netflix_plans {
		display: flex;
		flex-direction: column;
		margin: 2rem 0 0 3rem;

		width: 60%;
	}
	.profileScreen_plan {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.profileScreen_body {
		width: 90%;
	}
	.profileScreen_body > h1 {
		margin: 6rem 0 0 0.5rem;
		font-size: 2.2rem;
	}
	.profileScreen_info {
		display: flex;
		margin-top: 3rem;
	}
	.profileScreen_info > img {
		width: 20%;
		margin-left: 0.5rem;
	}
	.profileScreen_details {
		display: flex;
		flex-direction: column;
		width: 60%;
		gap: 5%;
	}
	.profileScreen_details > h2 {
		width: 60%;
		font-size: 1.5rem;
		position: absolute;
	}
	.profileScreen_signOut {
		position: relative;
		right: 0rem;
		top: 8rem;
		width: 60%;
		height: 60%;
	}
	.Motivator {
		position: relative;
		top: 4rem;
		right: 2rem;
		font-size: 1rem;
	}

	.profileScreen {
		height: 100%;
	}
	.Netflix_plans {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 25%;
		margin: 4rem 0 4rem 1.5rem;
		width: 80%;
	}
	.profileScreen_plan {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
@media (min-width: 1025px) and (max-width: 1440px) {
	.profileScreen {
		height: 100%;
	}
	.profileScreen_details > h2 {
		width: 60%;
		font-size: 1.5rem;
		position: absolute;
	}
	.profileScreen_signOut {
		position: relative;
		left: 16rem;
		top: 0.5rem;
		width: 40%;
		height: 60%;
	}
	.Netflix_plans {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 25%;
		margin: 4rem -7rem 4rem;
		width: 80%;
	}
	.profileScreen_plan {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
