.App{
  background-color: #111;
}
/* font-family: 'Arvo', serif;
font-family: 'EB Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */